body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#FFFFFF;
}
a {
text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
margin-top: 0;
margin-bottom: 0;
}  
ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
display: flex;
}
img { 
display: block;
}
.header {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
border-bottom: 1px solid #e7e9fc;
}

.container {
width: 1158px;
margin: 0 auto;
padding: 0 15px
}

.container-header {
display: flex;
gap: 332px;
}

.header-logo {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;

}

.header-logo span {
color: #2e2f42;
}

.header-link {
display: flex;
gap: 40px;
}

.navigation {
display: flex;
align-items: center;
}

.header-link-item {
} 

.header-social-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 
padding: 24px 0;
display: block;
position: relative;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover,
.header-social-link:focus {
color:#404BBF
}
.current-header-link-item {
    color: #404BBF;
}
.current-header-link-item::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
width: 100%;
background-color: #404BBF;
border-radius: 2px;

}

.current-header-link-item,
.header-address {
    font-style: normal;
}

.header-address-link {
 display: flex;
 gap: 40px;  
}

.header-address-contact-link {
color: #434455;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
font-weight: 400;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-contact-link:hover, .header-address-contact-link:focus {
color: rgba(64, 75, 191, 1);
;
}





.header-address-link {
margin: auto;
display: flex;
gap: 40px;
justify-content: center;
    
}

.main {
}

.main-goal {
background-color: #2e2f42;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url( ../images/people-office.jpg);
;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
margin: 0 auto;
}



.main-goal-title {
text-align: center;
font-size: 56px;
line-height: 1.07;

letter-spacing: 0.02em;
color: #ffffff;
max-width: 496px;
margin: 0 auto;



}

.main-goal-btn {

font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
display: block; 
min-width: 169px;
height: 56px;
border: none;
background-color: #4d5ae5;
border-radius: 4px;
margin: 48px auto 0 auto;
transition:   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 

}
.main-goal-btn:hover,
.main-goal-btn:focus {
background-color: #404BBF;
}

.main-description {
    padding: 120px 0;
}

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
bottom: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.main-description-list {
display: flex;
gap: 24px;
}

.main-direction-image {
display: flex;
align-items: center;
justify-content: center;
width: width: calc((100% - 72px) / 4);
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;
}

.main-description-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.main-description-subtitle-before {
content: "";
width: 264px;
height: 112px;
border-radius: 4px;
border: 1px solid rgba(142, 143, 153, 1);
display: block;
margin-bottom: 8px;
background-color: rgba(244, 244, 253, 1);
padding: 24px 100px;
}

/*.main-description-list-item{
    width: calc((100% - 72px) / 4); 
}*/
.main-description-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.main-hero {
background-color: #F4F4FD;
padding: 120px 0;
box-shadow: #2e2f42 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-hero-title { 
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2e2f42;
margin-bottom: 72px;
}

.main-hero-item {
background-color: #FFFFFF;
width: calc((100% - 72px) / 4); 
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.main-hero-name-position{
    padding: 32px 0;  
}

.main-hero-list {
background-color: #F4F4FD; 
display: flex;
gap: 24px;  
}

.main-hero-image {
background-color: #FFFFFF;
}

.main-hero-subtitle {
font-weight: 500;   
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
text-align: center;
margin-bottom: 8px;
}

.main-hero-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
text-align: center;
}

.social-link-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}
 
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background:  #4d5ae5;
}

.social-link:hover {
background-color: #404bbf;
   
}
.social-link:focus {
    background-color: #404bbf; 
    
}
.social-link-item{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.main-hero-soc-ikon {
fill: #f4f4fd;
}

.main-portfolio {
 padding-top: 120px; 
 padding-bottom: 120px; 
}

.main-portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2e2f42;
margin-bottom: 72px;
}

.container-main-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.container-main-portfolio-item {
width: calc((100% - 48px) / 3);
transform: translateY(0%);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
position: relative;
}

.container-main-portfolio-item:hover {
box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-portfolio-div-subtitle {
margin-top: 32px;
margin-bottom: 32px;
padding: 0px 16px 0px 16px;
gap: 8px;
}


.main-portfolio-image{ 
}

.container-main-portfolio-item-app {
  position: relative;
  overflow: hidden;
}

.main-portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.main-portfolio-text {
position: absolute;
top: 0;
left: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#f4f4fd; 
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
 transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.container-main-portfolio-item:hover .main-portfolio-text {
    transform: translateY(0%); 
    overflow: hidden;
    
}

.main-portfolio-text:hover {
    transform: translateY(100%); 
}

.footer {
    display: flex;
background-color: #2e2f42;
padding: 100px 156px;
align-items: baseline;
}

.footer-container-common {
    display: flex;
    align-items: baseline;
  
}   

.footer-link-logo { 
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
}

.footer-link-logo-color-part {
color: #f4f4fd;

}

.footer-text {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
max-width: 264px;
color: #FFFFFF;
margin-bottom: 16px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background:  #4d5ae5;
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31d0aa;
}

.container-one-footer{
    margin-right: 120px;
}

.footer-social-link-item {
    width: 40px;
    height: 40px;
}

.container-two-footer{
    margin-right: auto;
}

.footer-social-link-list {
    display: flex;
    gap: 16px;
}


.paragraph-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff; 
}

.form-button {
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5 ;
    border: none;
    border-radius: 4px;
}

.form-label-box {
    display: flex;
    gap: 24px;
}

.footer-button-icon {
    margin-left: 16px;
}

.form {
    display: flex;
    gap: 24px;
}

.form-label {  
}

.backdrop {
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
top: 0;
left: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
min-height: 584px; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 24px;
width: 408px;
min-height: 584px;
border-radius: 4px;
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.modal-btn{
 width: 24px;
 height: 24px;
 padding: 0;
 position: absolute;
 right: 24px;
 top: 24px;
 border-radius: 50%;
 display: flex;
 align-items: center; 
 justify-content: center;
 background-color: #e7e9fc;
 border: 1px solid rgba(0, 0, 0, 0.1); 
 cursor: pointer;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-btn:hover {
    background-color: #404bbf;
    border: none;
}

.modal-btn:focus {
background-color: #404bbf;
border: none;
}

.modal-btn-ikon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #2E2F42;
 }

.modal-btn:hover .modal-btn-ikon {
fill: #ffffff;
}

.modal-btn:focus .modal-btn-ikon {
fill: #ffffff;
}

.modal-title {
width: 360px;
height: 24px;
margin-bottom: 16px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.model-form {
margin-bottom: 8px;
gap: 24px;
}

.modal-input {
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(46, 47,66, 0.4);
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
color: #ffffff; 
}

.modal-input:focus {
fill: #4D5AE5;
border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
fill: rgb(77, 90, 229);
}

.modal-checkbox {
margin-bottom: 24px;
}

.modal-text {
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
border-color: #4D5AE5;
}

.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal-form-label-one {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.modal-field {
margin-bottom: 8px;
gap: 4px;
}

.modal-input-wrap {
position: relative;
}

.modal-icon {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-general {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-four {
margin-bottom: 16px;
}

.checkbox-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
text-align: left;
}


.modal-checkbox-input:checked + .checkbox-text .modal-span {
background-color: #404bbf; 
fill: #F4F4FD; 
border: none;
}

.checkbox-text a {
color: rgba(77, 90, 229, 1);
text-decoration: underline;
}

.modal-span {
display: inline-flex;
align-items: center;
justify-content: center;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
fill: transparent;
border-radius: 2px; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 8px;
}

.modal-form-btn {
min-width: 169px;
height: 56px;
padding: 16px, 32px, 16px, 32px;
border-radius: 4px;
background-color: rgba(77, 90, 229, 1);
color: #ffffff;
display: block;
border: none;
margin: 24px 96px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    
